* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 15px;
}

.register-form,
.login-form {
    display: flex;
    width: 100%;
    gap: 10px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.table-aditform-container {
    display: flex;
}

.container-users {
    width: 60%;
}

#users-table {
    width: 95%;

    thead {
        background-color: #f1f1f1;
    }

    button {
        margin: 3px;
    }
}

#editFormDiv {
    width: 20%;
    display: flex;
    justify-content: start;

    h1 {
        margin-bottom: 15px;
    }

    #editDiv {
        display: none;
        margin-left: 20px;

        #editForm {
            display: flex;
            flex-direction: column;
        }
    }

    #editPasswordDiv {
        display: none;

        #editPasswordForm {
            display: flex;
            flex-direction: column;
        }
    }

}

/*.....................................*/
@media(max-width:768px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px !important;
    }

    .container-register {
        margin-top: 20px;
    }

    .container-login {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1 {
        text-align: center;
        font-size: 21px;
        margin-bottom: 10px;
    }

    form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .table-aditform-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #editFormDiv {
        width: 100%;
        justify-content: center !important;
        margin-bottom: 20px;
    }

    #editFormDiv form {
        justify-content: center;
    }

    .container-users {
        width: 100%;
        padding: 7px;
        font-size: 13px;

        button {
            font-size: 12px;
            padding: 1px;
        }
    }



}