#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#container>h1 {
    text-align: center;
}

#cardtable {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;

}

#card {
    border: black solid 2px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#inputholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#answer {
    display: none;
}

#button {
    display: none;
    margin-top: 5px;
}

#table {
    display: flex;
    flex-direction: column;
    display: none;
    width: 300px;
    border: black solid 2px;

}

.theaderr {
    background-color: gray;
    text-align: center;
}

.theaderr>h3 {
    margin: 0px;
    font-size: 18px;
}

.titles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border: black solid 2px;
    background-color: lightgray;
    height: 20px;
    border: black solid 1px;
}

.ex {
    border: black solid 1px;
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#tfooter {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    background-color: gray;
    border: black solid 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#playersTable {
    display: flex;
    flex-direction: column;
    display: none;
    width: 200px;
}

#buttonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#playerName {
    margin: 0px !important;
}

#nameHelper {
    display: none;
}

#changePlayerBtn {
    display: none;
    margin-top: 15px;
    margin-bottom: 0px;
}

#resetGameBtn {
    margin-top: 15px;
}


@media(max-width:768px) {

    #cardtable {
        flex-direction: column;
        gap: 10px;
    }

    #table {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #container>h1 {
        text-align: center;
        margin-bottom: 10px;
    }
}