* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

$my-blue: rgb(40, 29, 160);
$my-pink: rgb(212, 79, 183);
$my-purple: hsl(265, 100%, 50%);
$my-purple2: rgb(166, 0, 255);
$my-brown: rgb(220, 198, 132);


.start {
    background-color: $my-blue;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 15px;
    gap: 5px;


    #logo {
        width: 33px;
        border-radius: 50%;

    }

    #logoName {
        width: 70px;
    }

}

#project-name {
    background: linear-gradient($my-pink, $my-purple2, $my-purple);

    #links {

        a {
            display: inline-block;


            button {
                color: white;
                background-color: $my-blue;
                border-radius: 15px;
                padding: 3px 9px;
            }

        }
    }


}

#icons1 {
    height: 50px;

    img {
        width: 40px;
    }
}

#poject-holder {
    background-color: #bcc2c2e3;

    img {
        width: 70%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

#end {
    background-color: $my-blue;

    p {
        color: white;
    }
}


@media (max-width:768px) {

    /*
    #main-container {
        width: 90% !important;
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
*/
    #nav {
        height: 40px;
        padding: 0px 10px 0px 0px !important;

        #nav-container {
            padding: 0px !important;
            margin: 0px !important;
        }

    }

    .my-logo {
        margin: 0px !important;


        #logo {
            width: 25px;
        }

        #logoName {
            width: 55px;
        }


    }

    .my-hamburger {
        border-radius: 15px;
        width: 25px !important;
        height: 25px !important;
    }


    .nav-link {
        color: white !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        background-color: $my-blue !important;
        width: 60px !important;
        text-align: center !important;

    }

    #project-name {
        padding: 20px !important;

        h1 {
            font-size: 24px !important;
        }

        p {
            font-size: 14px !important;
        }

        #links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {


                button {
                    font-size: 14px;
                }

            }
        }

    }


    #icons1 {
        height: 35px;

        img {
            width: 25px;
        }
    }



}